.contentContainer {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
  height: calc(100vh - 6rem);

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  aside {
    padding: 10px;
    h1 {
      color: var(--white);
      font-size: 3rem;

      font-weight: 800;
      line-height: 1;
      letter-spacing: -1px;

      margin-bottom: 0;

      > span {
        color: var(--MainGreen);
      }
    }
  }

  p {
    font-size: 1.125rem;
  }

  strong {
    color: var(--MainGreen);
    font-size: 1.125rem;
  }

  img {
    height: 70vh;
    margin: auto 20px;
    max-width: calc(1120px / 2);
  }
}
