.header {
  height: 6rem;
  border-bottom: 1px solid var(--LightenBG);
}
.headerContainer {
  max-width: 1120px;
  height: 6rem;
  margin: auto;
  padding: 0 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    height: 6rem;
    min-height: 9rem;
    min-width: 9rem;

    max-height: 9rem;
    max-width: 9rem;
  }

  nav {
    display: flex;
    height: 4rem;
    align-items: center;
    margin-left: 2rem;

    a {
      display: inline-block;
      position: relative;
      padding: 0 1rem;

      height: 6rem;
      font-weight: 700;
      line-height: 6rem;
      color: var(--grey5);

      transition: color 300ms;

      // > svg {
      //   margin-top: 2.4rem;
      //   font-size: 1.2rem;
      // }

      //toda ancora secundária terá margin left
      & + a {
        margin-left: 2rem;

        @media (max-width: 510px) {
          margin-left: 1rem;
        }
      }

      &:hover {
        color: var(--white);
      }

      &.active {
        color: var(--white);
        font-weight: bold;
      }

      &.active::after {
        content: '';
        height: 3px;
        border-radius: 3px 3px 0 0;
        width: 100%;

        position: absolute;
        background-color: var(--MainGreen);
        bottom: 1px;
        left: 0;
      }
    }
  }
  //   @media (max-width: 510px) {
  //     a {
  //       margin-left: 0rem;
  //       background-color: aqua;

  //       & + a {
  //         margin-left: 0rem;
  //       }
  //     }
  //   }
}
